<div class="row" style="align-items: center; margin-top: 100px;">
	<div class="col s6 offset-s3 z-depth-1 " id="panell">
		<h5 id="title">Add Product here</h5>
		<form method="POST" action="/addproduct" id="myform_id">
			<div class="input-field" id="name">
				<input type="text" placeholder="name" name="name" />
			</div>
			<div class="input-field" id="desc">
				<input type="text" placeholder="description" name="desc" />
			</div>
			<a
				class="waves-effect waves-light btn deep-purple accent-3"
				id="loginbtn"
				href="javascript:$('#myform_id').submit();"
				style="margin-bottom: 5px;"
				>Add Product</a
			>
		</form>
	</div>
</div>
