<div class="row">
	<% products.forEach(product => { %>
	<div class="col s4">
		name: <%= product.name %><br />
		desc: <%= product.desc %>
		specs: <%= product.specs %>
		<img src="/<%= product.img %>">
	</div>
	<% }) %>
</div>
